<!DOCTYPE html>
<html>
<head>
  <title>Devise sessionable</title>
  <%= stylesheet_link_tag    "devise_sessionable/application", media: "all" %>
  <%= javascript_include_tag "devise_sessionable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
